

{% extends 'base.html.twig' %}

{% block title %}New Promotion - TFANNEN{% endblock %}

{% block banner_background %}
    data-background="{{ asset('assets/images/shop/banner2.jpg')}}"
{% endblock %}

{% block banner_title %}
    Create a Promotion
{% endblock %}

{% block banner_subtitle %}
    Fill in the details to create a new Promotion
{% endblock %}

{% block body %}
    <!-- Your page content goes here -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <section class="contact pt-130 pb-130">
                    <div class="container">
                        <div class="row g-4">
                            
                            <div class="col-lg-6">
                                <div class="form-area">
                                    {{ form_start(f, {'attr': {'novalidate': 'novalidate'}} ) }} 
                                 
                                    <div class="col-12">
                                        {{ form_label(f.name, 'name', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(f.name, {'attr': {'class': 'form-control'}}) }}
                                         {{ form_errors(f.name, {'attr': {'class': 'text_danger'}}) }}
                                        
                                    </div>
                                    <div class="col-12">
                                        {{ form_label(f.email, 'email', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(f.email, {'attr': {'class': 'form-control'}}) }}
                                         {{ form_errors(f.email, {'attr': {'class': 'text_danger'}}) }}
                                    </div>
                                    <div class="col-12">
                                        {{ form_label(f.phone, 'phone', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(f.phone, {'attr': {'class': 'form-control'}}) }}
                                         {{ form_errors(f.phone, {'attr': {'class': 'text_danger'}}) }}
                                    </div>
                               <div class="col-12">
    
</div>
                                    <div class="col-12">
                                    <br>
                                        <button class="mt-40 btn-one" type="submit"><span>ADD participation</span></button>
                                    </div>
                                    {{ form_end(f) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}