{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin Product's Controlller{% endblock %}

{% block body %}
<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Designs</h6>
        <div class="designs-container">
            {% for design in designs %}
            <div class="design-item">
                <img class="font-image" src="{{ asset('uploads/' ~ design.picture) }}" alt="image">
                <div class="design-details">
                    <h5>{{ design.titre }}</h5>
                    <p>Price: {{ design.prix }}</p>
                    <p>Category: {{ design.categorie }}</p>
                    <p>Description: {{ design.description }}</p>
                    <div class="actions">
                        <form action="{{ path('app_design_delete', {'id': design.id}) }}" method="post" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ design.id) }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a href="{{ path('admin_design_avis', {'id': design.id}) }}" class="btn btn-primary">View Avis</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
